BOT_TOKEN=8610897457:AAF7JotmtmNwvPQdvBREtXaaNLDlp3aX9xE
OWNER_CHAT_ID=5356475327
FASTAPI_HOST=127.0.0.1
FASTAPI_PORT=8000
NEXT_PUBLIC_API_URL=https://clearspacenvrsk.ru
CORS_ORIGINS=https://clearspacenvrsk.ru,https://www.clearspacenvrsk.ru
NEXT_PUBLIC_SITE_URL=https://clearspacenvrsk.ru
